{% extends "layout.html" %} {% block content %}

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">cookiecutter_app</h1>
    <p class="splash-subhead">
      Jumpstart your Flask project with cookiecutter-flask-lightweight. <br />
      give a star if this project helped you out :)
    </p>
    <p>
      <a
        href="https://github.com/TGoddessana/cookiecutter-flask-lightweight"
        class="pure-button pure-button-primary"
        target="_blank"
        rel="noopener noreferrer"
      >
        Give a Star on GitHub
      </a>
    </p>
  </div>
</div>

<div class="splash-content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">
      Welcome to Cookiecutter-Flask-Lightweight!
    </h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Get Started Quickly
        </h3>
        <p>
          Powered by Cookiecutter, jumpstart your flask proejct with a few
          simple commands.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead">
          <i class="fa-solid fa-code-branch"></i>
          well-maintained extensions
        </h3>
        <p>
          We use only well-maintained extensions to ensure your project is
          up-to-date. built-in Dependabot configuration is also included.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead">
          <i class="fa-solid fa-cubes"></i>
          Docker Support
        </h3>
        <p>
          Easily containerize your project with Docker. production-ready, easy
          to deploy and scale.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead">
          <i class="fa-solid fa-laptop-code"></i>
          API Development
        </h3>
        <p>
          You can easily develop APIs with Flask-Smorest, with Marshmallow
          ecosystem. swagger-ui is also included.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <h3 class="content-subhead">
          <i class="fa-solid fa-star"></i>
          Code Quality
        </h3>
        <p>
          Keep your code clean built-in with built-in pre-commit hooks and
          tests. also start your project with type-safe, with mypy.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
