{% extends "layout.html" %} {% block content %}

<div class="login-box">
  <h1 class="title">Log In</h1>
  <form class="pure-form">
    <fieldset>
      <label for="stacked-username">Username</label>
      <input
        type="email"
        id="stacked-username"
        placeholder="Username"
        required
      />

      <label for="stacked-password">Password</label>
      <input
        type="password"
        id="stacked-password"
        placeholder="Password"
        required
      />

      <button type="submit" class="pure-button pure-button-primary">
        Login
      </button>
    </fieldset>
  </form>
</div>

{% endblock %}
