### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask stuff:
instance/

# Sphinx documentation
docs/_build/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.venv
venv
.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# docker compose volume
db_data
